@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  font-family: "roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black: #050505;
  --color: #893903;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Todo {
  max-width: 1600px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 435px 1fr;
  min-height: 100vh;
}
.popUp {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  z-index: 100;
}
.popUp .content {
  max-width: 740px;
  width: 100%;
  background-color: #fff;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #ccc;
}
.popUp .content h3 {
  font-size: 29px;
}
.popUp .content .input-group {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
}
.popUp .content .input-group label {
  font-weight: 600;
  font-size: 27.31px;
}
.popUp .content .input-group input[type="text"] {
  padding: 1rem;
  width: 100%;
  border-radius: 20px;
  border: 2px solid #ccc;
  font-family: inherit;
  font-size: 23px;
}
.popUp .content .input-group .colorGroup {
  display: flex;
  gap: 1rem;
}
.popUp .content .input-group .colorGroup button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.popUp .content .input-group .colorGroup button.active {
  border: 3px solid var(--black);
}
.popUp .content .create {
  margin-left: auto;
  padding: 0.5rem 3rem;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: var(--black);
  color: #fff;
  border-radius: 11px;
}

@media screen and (max-width: 768px) {
  .Todo {
    grid-template-columns: 1fr;
  }
  .popUp .content h3 {
    font-size: 18px;
  }
  .popUp .content .input-group label {
    font-size: 14px;
  }
  .popUp .content .input-group input[type="text"] {
    font-size: 10px;
    padding: 0.5rem;
  }
  .popUp .content .input-group {
    grid-template-columns: 100px 1fr;
  }
  .popUp .content {
    max-width: 284px;
  }
  .popUp .content .input-group .colorGroup button {
    width: 17px;
    height: 17px;
  }
  .popUp .content .input-group .colorGroup {
    gap: 0.5rem;
  }
  .popUp .content .create {
    max-width: 186px;
    width: 100%;
    margin: auto;
    font-size: 17px;
  }
}
